body { 
    background-color: #32cd32;
    color: #333;
    font-size:  13px; 
}

.main-section  { margin: 0 0 20px; }

.site-brand {
    background-image: url("../img/times-dental-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 88%;
    text-indent: -9999px;
    width: 100%;
}

.site-title { 
    height: 71px;
    overflow: hidden; 
    width: 300px;
}

.site-tagline {
    color: #fff;
    display: block;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-top: 32px;
}

/* Appointment page */
.appointment-section {
    background-color: #f1f1f1;
    border-radius: 5px;
    font-size: 13px;
    padding: 7px 12px;
}

.appointment-section h3 {
    border-bottom: 1px dashed #ccc;
    color: #cd3232;
    font-size: 1.375rem;
    margin: 20px 0 0;
}

.appointment-section,
.appointment-section p {
    font-size: 13px;
}

.appointment-section p {
    line-height: 1.5;
    margin: 1px 0;
}

.doc-img-holder {
    border: 1px solid #ccc;
    margin: 10px 0 0;
    padding: 3px 1px 3px 3px;
}

.doc-img {
    background: url('../img/doc-jay.jpg') no-repeat;
    background-size: contain;
    width: 100%;
}

.success-page {
    background-color: #f1f1f1;
    border-radius: 5px;
    display: block;
    min-height: 200px;
    overflow: hidden;
}

/*Dropdown*/